* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

$font-dark: #2A2A2A;
$font-light: #FFFFFF;
$font-stack: "Inter",sans-serif;
$color-accent: #00C092;
$color-button: #FB8860;

body {
  font-family: $font-stack;
}