* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

$font-dark: #2a2a2a;
$font-light: #ffffff;
$font-stack: "Inter", sans-serif;
$color-accent: #00c092;
$color-button: #fb8860;

body {
  font-family: $font-stack;
  // overflow-x: hidden;
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}


/* QUESTION PAGE */

.questionPage {
  width: 100%;
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}
  

.answers {
  display: flex;
  min-height: 20vh;
  flex-direction: column;
  justify-content: center;  
 
}
.questionPage h2 {
  text-align: center;
  width: 80%;
  margin-bottom: 4rem;  
  
}

.questionPage button {
  width: 15rem;
  height: 4rem;
  border: none;
  background-color: #FB8860;
  color: white;
  border-radius: 0.5rem;  
  transition: 300ms;
  font-family: sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0.1em;
  margin-bottom: 2rem;
}

.questionPage button:hover, .destinationPage button:hover {
  scale: 1.1;
  transition: 300ms;
}
.questionPageFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  width: 100%;
  height: 2rem;
  background-color: #00C092;
  position: fixed;
  bottom: 0;
}


/* DESTINATION PAGE */

.destinationPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  
}


.destinationPage button {
  font-size: 1.5rem;
}

.destinationPage p {
  width: 80%;  
  color: #2A2A2A;  
  justify-content: space-around;
}


/* -------------------------------------------------------------------------- */
/*                                   NAVBAR                                   */
/* -------------------------------------------------------------------------- */

.navbar {
  z-index: 2;
  width: 100vw;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.25));
  position: fixed;
  top: 0;
  img {
    width: 20px;
  }
  h2 {
    color: $font-dark;
    font-size: 22px;
    margin: 0.5rem;
  }
  .cross {
    top: 3%;
    right: 5%;
    position: absolute;
    width: 35px;
  }
  .logo {
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-accent;
    border-radius: 50%;
    width: 1.75rem;
    height: 1.75rem;
  }
  .burger {
    position: absolute;
    right: 5%;
  }
}

.menuBurger {
  position: absolute;
  right: 100%;
  top: 0%;
  height: 100vh;
  transition: 350ms;
  .burgerUl {
    background-color: #ffffff;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    li {
      font-size: 22px;
      color: $font-dark;
      font-weight: 600;
      margin: 1.5rem;
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                   FOOTER                                   */
/* -------------------------------------------------------------------------- */

footer {
  background-color: $color-accent;
  width: 100vw;
  height: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 4px;
  align-items: center;
  justify-items: center;
  position: fixed;
  bottom: 0%;  
  color: $font-dark;
  font-weight: 700;
  font-size: 14px;
  padding: 0.5rem;
  
  span {
    font-size: 12px;
    grid-area: 3 / 1 / 4 / 3;
  }
}

/* -------------------------------------------------------------------------- */
/*                                   HOME                                     */
/* -------------------------------------------------------------------------- */

.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 43px;
  padding-bottom: 8rem;
  overflow: auto;
  height: 100vh;
  .text {
    margin-top: 3rem;
    width: 80%;
    color: $font-dark;
    h2 {
      font-size: 22px;
      text-align: center;
      margin-bottom: 2rem;
    }
  }
  }

  .homeImg {
    width: 100vw;
    height: 10rem;
    background: url("../src/assets/Home.jpg") no-repeat center/cover;
    clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 14rem;
    height: 2.5rem;
    padding: 1rem;
    background-color: $color-button;
    color: #ffffff;
    font-size: 22px;
    border-radius: 10px;
    font-weight: 700;
    letter-spacing: 0.1em;
    .dora{
      position: relative;
      z-index: -1;
      height: 40px;
    }
  }


/* -------------------------------------------------------------------------- */
/*                                   ABOUT                                    */
/* -------------------------------------------------------------------------- */
.aboutPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 43px;
  padding-bottom: 8rem;
  overflow: auto;
  height: 100vh;
  .text {
    margin-top: 3rem;
    width: 80%;
    color: $font-dark;
    h2 {
      font-size: 22px;
      text-align: center;
      margin-bottom: 2rem;
    }
  }
  .aboutImg {
    width: 100vw;
    height: 10rem;
    background: url("../src/assets/A_Propos.jpg") no-repeat center/cover;
    clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
  }

}
/* -------------------------------------------------------------------------- */
/*                                   MENTIONS                                 */
/* -------------------------------------------------------------------------- */
.mentionsPage{
  height: 100%;
  padding-top: 43px;
  padding-bottom: 8rem;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  .text {
    margin-top: 3rem;
    width: 80%;
    color: $font-dark;
    h2 {
      font-size: 22px;
      text-align: center;
      margin-bottom: 2rem;
    }
  }
  .mentionImg {
    width: 100vw;    
    clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
  }
}
/* -------------------------------------------------------------------------- */
/*                                   OFFER                                    */
/* -------------------------------------------------------------------------- */

.offerPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 43px;
  padding-bottom: 8rem;
  height: 100vh;
  overflow: auto;
  .text {
    margin-top: 3rem;
    width: 80%;
    color: $font-dark;
    h2 {
      font-size: 22px;
      text-align: center;
      margin-bottom: 2rem;
    }
    span{
      font-weight: 700;
      text-decoration: underline;
      color:$color-button
    }
  }
  }

  .offerImg {
    width: 100vw;
    height: 10rem;
    background: url("../src/assets/Offer.jpg") no-repeat center/cover;
    clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
  }

/* -------------------------------------------------------------------------- */
/*                                   CONTACT                                  */
/* -------------------------------------------------------------------------- */

figure {
  margin-top: 6vh;
  // padding-left: 20%;
  font-size: 2vh;
  // background-color: yellow;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  // align-content: space-around;
  align-items: center;
  justify-content: space-around;
}
figcaption {text-align: center;}

#membre {
  width: 100%;
  // background-color: red;
  // padding-top: 30%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:10%;
}

#title{
  font-size: 11px;
  text-align: center;

}

.logo{
  width: 50%;
  display: flex;
 justify-content: space-between;
}

#background_image{
  width: 100vw;
  height: 10rem;
  background: url("../src/assets/Contact.jpg") no-repeat center/cover;
  clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
}

.contact{
  height: 100%;
  padding-top:43px;
}

